<mat-card-title fxLayoutAlign="center">Choose collection</mat-card-title>

<mat-card-content fxLayoutAlign="center" fxLayout="column" fxLayoutGap="10px">

    <mat-checkbox
      class="example-margin"
      [(ngModel)]="addToExistingCollection"
      name="newCollection">
      Add to existing collection
    </mat-checkbox>

    <mat-form-field>
      <mat-select
        placeholder="Collection"
        [disabled]="!addToExistingCollection"
        name="exisitngCollection"
        required
        #oldColl
        [(value)]="oldCollection"
        >

        <mat-option *ngFor="let learnings of availableCollections" value="{{learnings.collection}}" >
          {{learnings.collection}}
        </mat-option>

      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="New collection name"
        [(ngModel)]="newCollection"
        name="newCollection"
        minlength="3"
        maxlength="10"
        [disabled]="addToExistingCollection"
        required
        #newColl="ngModel"
        >
      <mat-error *ngIf="!newColl.hasError('required')">
        Enter 3 to 10 characters
      </mat-error>
      <mat-hint>
        Enter 3 to 10 characters
      </mat-hint>
    </mat-form-field>

    <p>Or pick one of the most popular collections</p>
    <div fxLayout="row" fxLayoutGap="15px">
      <button mat-fab color="primary" (click)="onClickedFab('German')" >German</button>
      <button mat-fab color="warn" (click)="onClickedFab('Capitals')">Capitals</button>
      <button mat-fab color="accent" (click)="onClickedFab('French')">French</button>
    </div>

</mat-card-content>

<mat-card-actions fxLayoutAlign="center">

  <button
    mat-raised-button
    (click)="onCollectionChosen()"
    color="primary"
    [disabled]="(newColl.invalid && oldColl.disabled )  || ( oldColl.empty && newColl.disabled )">Next
  </button>

</mat-card-actions>
