<div
  class="welcome"
  fxLayout="column"
  fxLayout.gt-md="row"
  fxLayoutAlign="center center"
  fxLayoutGap.gt-md="20px">
  <section class="home-item">
    <mat-card [style.backgroundColor]="'rgb(56,147,192)'">
      <h1>FLASHCARDS</h1>
      <p>Create your own flashcards</p>
    </mat-card>
  </section>
  <section class="home-item">
    <mat-card [style.backgroundColor]="'rgb(56,147,192)'">
      <h1>PROGRESS</h1>
      <p>Look up your previous results in data table</p>
    </mat-card>
  </section>
  <section class="home-item">
    <mat-card [style.backgroundColor]="'rgb(56,147,192)'">
      <h1>KNOWLEDGE</h1>
      <p>Share your flashcards with other users</p>
    </mat-card>
  </section>
</div>
